.Navbar{
  display: flex;
  align-items: center;
  padding: 5px;
  height: 50px;
  background-color: white;
  color: red;
  box-shadow:0px 5px 5px grey;
}

.Logo{
  width: 100px;
  margin-right: 7px;
}

.CollageImage{
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.CollageTitle{
  font-weight: 700;
}

.CollageText{
  word-wrap:break-word;
  font-weight: 100;
  width: 70%;
}