.Navbar{
  display: flex;
  align-items: center;
  padding: 30px 25px;
  height: 90px;
  background-color: #21222A;
  color: white;
  font-weight: 600;

}

.NavbarTitle{
  color: rgb(97, 219, 251);
  margin-right: auto;
  font-weight: 700;
}


.Logo{
  width: 80px;
  margin-right: 7px;
}

.Main{
  color: white;
  padding: 50px;
  background-image: url('./Images/logo192.png');
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
}

.MainTitle{
  font-weight: 700;
}

.MainList > li{
  padding: 10px;
  font-weight: 400;
}

.MainList > li::marker{
  color: rgb(97, 219, 251);
  font-size: 1.4rem;
}
